html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* { box-sizing: border-box; }

.container {
    position: relative;
    border: solid 1px red;
    height: 256px;
    width: 256px;
    overflow: auto;

    float: left;
    margin-right: 16px;
}

.inner {
    position: relative;
    height: auto;
}

.full-height {
    position: absolute;
    top: 0;
    left: 0;
    right: 128px;
    bottom: 0;
    height: 100%;

    background: blue;
}
