body {
  font-family: 'Open Sans', sans-serif;
  line-height:1.5em;
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
  margin:0;
  padding:0;
}

.container {
  margin: auto;
}

h1 {
  text-transform: uppercase;
}

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

.hidden {
  display: none !important;
}

.list {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  margin-bottom: 1em;
}

.list-inline {
  float: left;
  border-left: 1px solid #ccc;
  width: 20%;
  margin: 0;
  padding: 0 5px;
  list-style: none;
}

.list-inline-checkbox {
  float: left;
  border-left: 1px solid #ccc;
  width: 45%;
  margin: 0;
  padding: 0 5px;
  list-style: none;
}

.clearfix {
  display: block;
  clear: both;
}

.ellips {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
  display: block;
  font-size: 1em;
  height: 46px;
  margin: 0 0 20px;
  padding: 0 10px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

.table {
  width: 100%;
  text-align: left;
}

.th-select {
  font-size: 0.8em;
  width: 50%;
}
