body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1em;
  line-height: 1.5;
  font-weight: lighter;
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
  margin:0;
  padding:0;
}

.container {
  margin: auto;
}

.bg-primary {
  background-color: #333;
}

.nav-top {
  background-color: #000;
  border-radius: 0;
  height: 61px;
  color: #fff;
  padding: 1px 1em;
}
.nav-top-subnav {
  background-color: #333;
  overflow: hidden;
  color: #fff;
}
.anch-tag {
  float: right;
}

a {
  text-decoration: none;
}
h1 {
  text-transform: uppercase;
}

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

.hidden {
  display: none !important;
}

.margin-bottom {
  margin-bottom: 1em;
}

.bg-lightgray {
  background-color: #efefef;
}

.link-more {
  margin: -5px 5px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

.btn-sm {
  display: inline-block;
  margin-bottom: 0;
  padding: 10px 2px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

.btn-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(67, 149, 57);
  border-bottom-color: rgb(67, 149, 57);
}

.btn-block {
    width: 100%;
    display: block;
}

.list {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  margin-bottom: 1em;
}

.list-inline {
  float: left;
  width: 20%;
  margin: 0;
  padding: 4px;
  list-style: none;
  text-align: center;
  border-left: 2px solid #fff;
}

.list-inline-checkbox {
  float: left;
  border-left: 1px solid #ccc;
  width: 45%;
  margin: 0;
  padding: 0px 0px 5px 5px;
  list-style: none;
}

.ul-list {
  margin: 0px;
  padding: 0px .5em;
  overflow: hidden;
}

.list-top-subnav {
  float: left;
  margin: 0;
  padding: 4px;
  list-style: none;
}

.list-top-subnav a {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Interface',Arial,sans-serif!important;
}
.active {
  background-color: rgba(67, 149, 57, 0.4);
  border-bottom: 5px solid #439539;
}


.clearfix {
  display: block;
  clear: both;
  overflow: hidden;
}

.ellips {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}

.select select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select select:focus {
    outline: none;
}

.table, .league {
  width: 100%;
  text-align: left;
}

.league {
  font-size: 10px;
}

table,td {
    padding: 0;
    margin: 0
}

.th-select {
  font-size: 0.8em;
  width: 50%;
}

.btn-half {
  width: 49%;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.clubs {
    text-align: left;
    font-size: 10px;
    font-weight: bolder;
}
.sidebet {
    text-align: center;
    border: 1px solid #DEDFE4;
    background-color: #f2f2f4;
    max-width: 35px;
    display: block;
    float: right;
}
.sidebet a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px 8px;
}

.clubone {
    padding: 0 5px;
    text-align: left;
}
.odds {
    background-color: rgba(67, 149, 57, 0.4);
    color: #24367E;
    font-size: 12px;
    border-top: 1px solid #b5b5b5;
}

.highlights--item {
    background-color: #fff;
    border-collapse: collapse;
    width: 98.5%;
    margin: 5px .75%;
}

.highlights {
  background-color: #efefef;
}

.border-td {
    height: 100%;
    width: 1px;
    background-color: #b5b5b5;
}

.picked {
    background: #439539!important;
    color: #fff!important;
}

.odds td button, .sidebet-card {
    width: 100%;
    color: #333;
    display: block;
}


/* Icons */
.icon-wrapper {
  width: 1em;
  height: 1em;
  display: block;
  margin: 0 auto;
}
.icons {
  height: 100%;
  width: 100%;
  display: block;
  background-repeat: no-repeat;
}

.img-football {
    background-image: url(https://cdn.betway.co.za/images/Shared/sports/soccer.svg);
}

.img-rugby {
    background-image: url(https://cdn.betway.co.za/images/Shared/sports/rugby.svg);
}
.img-tennis {
    background-image: url(https://cdn.betway.co.za/images/Shared/sports/tennis.svg);
}

.img-basketball {
    background-image: url(https://cdn.betway.co.za/images/Shared/sports/basketball.svg);
}

/* Panel styling */
.panel {
    padding: 0 1em;
    border: 1px solid #333;
    font-size: 85%;
}

.eventDate {
    color: #8a8a8a;
}

.eventActions {
  margin-top: -5px;
}

.inline-potato,.inline-potato li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.label {
    display: inline;
    line-height: 1;
    font-size: 80%;
    color: #333;
    border: 1px solid #333;
    text-align: center;
    white-space: nowrap;
    padding: 3px 4px;
    border-radius: 4px;
}

.label.primary {
    color: #333;
    border: 1px solid #439539;
}

.outcome-title {
  width: 40px;
}

.checkbox {
    transform: scale();
    -ms-transform: scale();
    -webkit-transform: scale();
}


input[type=checkbox] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

label {
	display: block;
	background: #08C;
	padding: 5px;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 2px;
	color: white;
	font-weight: bold;
}

input[type=checkbox]:checked ~ .to-be-changed {
	color: red;
}

.hamb-wrapper {
  position: relative;
  margin: 1em 0;
}
.hamb-selector {
  background: transparent;
  width: 28px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;
}
.hamb{
  width: 28px;
  height: 5px;
  background: white;
  margin-bottom: 3px;
}
