body {
  font-family: 'Open Sans', sans-serif;
  line-height:1.5em;
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
  margin:0;
  padding:0;
}

/* This is just to make the example nicer */
p * {
  display: block;
}

input[type=email]{
  -webkit-appearance: none;

  width: 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* This is our style for the invalid fields */
input:invalid{
  border-color: #900;
  background-color: #FDD;
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  width  : 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

.container {
  margin: auto;
}

h1 {
  text-transform: uppercase;
}

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

.hidden {
  display: none !important;
}

.margin-bottom {
  margin-bottom: 1em;
}

.list {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  margin-bottom: 1em;
}

.list-inline {
  float: left;
  border-left: 1px solid #ccc;
  width: 20%;
  margin: 0;
  padding: 0 5px;
  list-style: none;
}

.list-inline-checkbox {
  float: left;
  border-left: 1px solid #ccc;
  width: 45%;
  margin: 0;
  padding: 0 5px;
  list-style: none;
}

.clearfix {
  display: block;
  clear: both;
}

.ellips {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
  display: block;
  font-size: 1em;
  height: 2em;
  margin: 0 0 1em;
  padding: 0 10px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

.table, .league {
  width: 100%;
  text-align: left;
}

table,td {
    padding: 0;
    margin: 0
}

.th-select {
  font-size: 0.8em;
  width: 50%;
}

.btn-half {
  width: 49%;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.clubs {
    text-align: left;
    padding-left: 5px;
}
.sidebet {
    text-align: center;
    border: 1px solid #DEDFE4;
    background-color: #f2f2f4;
    max-width: 35px;
    display: block;
    float: right;
}
.sidebet a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px 8px;
}

.clubone {
    padding: 0 5px;
    text-align: left;
}
.odds {
    background-color: #fbfbfb;
    color: #24367E;
    font-size: 12px;
    border-top: 1px solid #b5b5b5;
}
button {
    text-decoration: none;
    text-align: right;
    padding: 4px 0;
    border: none;
    outline: 0;
    background: 0 0;
}

.highlights--item {
    background-color: #fff;
    border-collapse: collapse;
    width: 98.5%;
    margin: 5px .75%;
}

.highlights {
  background-color: #d4d4d4;
}

.border-td {
    height: 100%;
    width: 1px;
    background-color: #b5b5b5;
}

.picked {
    background: #f8e892!important;
    color: #333!important;
}

.odds td button, .sidebet-card {
    width: 100%;
    color: #333;
    display: block;
}
