html, body {height: 100%;}

.wrap {min-height: 100%;}

.main {overflow:auto;
	padding-bottom: 72px;}  /* must be same height as the footer */

.footer {
	position:fixed; z-index:999;
	width:100%;
  bottom:-20px;
	margin-top: -72px; /* negative value of footer height */
	margin-top: 0px !ie; /* for IE */
	height: 92px;
	clear:both; text-align:center;
	background:url(../bg.png) repeat-x #115c9c;
	}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

/* IE 6 */
* html .footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
