input[name=amount] {
    display:none
}
.donate-now {
    list-style-type:none;
    margin:25px 0 0 0;
    padding:0;
}
.donate-now li {
    float:left;
    margin:0 5px 0 0;
}
.donate-now label {
    padding:5px;
    cursor:pointer;
    -webkit-appearance: button;
    /* WebKit */
    -moz-appearance: button;
    /* Mozilla */
    -o-appearance: button;
    /* Opera */
    -ms-appearance: button;
    /* Internet Explorer */
    appearance: button;
    /* CSS3 */
}
.donate-now label:hover {
    background:#DDD;
}
