.donate-now {
     list-style-type:none;
     margin:25px 0 0 0;
     padding:0;
}

.donate-now li {
    float:left;
    margin:0 5px 0 0;
    text-align: center;
    position: relative;
}

.donate-now label {
      padding: 5px;
      border: 1px solid #CCC;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
}

input {
  margin: 1em;
}
